<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ByeByeAppLibrary Settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.byebyeapplibrary/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.byebyeapplibrary</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.byebyeapplibrary/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.byebyeapplibrary</string>
			<key>key</key>
			<string>noAppLibrary</string>
			<key>label</key>
			<string>Bye App Library</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.byebyeapplibrary/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.byebyeapplibrary</string>
			<key>key</key>
			<string>rotatedAppLibrary</string>
			<key>label</key>
			<string>Allow Rotated layout:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.byebyeapplibrary/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.byebyeapplibrary</string>
			<key>key</key>
			<string>keepEmptyFolders</string>
			<key>label</key>
			<string>Keep Empty Folders</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.byebyeapplibrary/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.byebyeapplibrary</string>
			<key>key</key>
			<string>dontSplitRotatedFolders</string>
			<key>label</key>
			<string>Dont Split Rotated Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Resprings should be used if a setting does not update immediately.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>36</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>Made by i0s_tweak3r.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you find this tweak to be useful, please consider a donation, or purchasing one of my paid tweaks. Check out ModernBarz and XConditoPro working great up to iOS 16, most of EnableMeAhora is working as well.
all are available in my repo.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>repolink</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>👉 Add my repo.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Buy me a drink.</string>
		</dict>
	</array>
	<key>title</key>
	<string>ByeByeAppLibrsry</string>
</dict>
</plist>
